body{
    
    font-family: sans-serif;
    background-image: url("static/images/backblue.gif");
}
#new{
 height: 20%;
   border: 4px solid firebrick;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   background-color: gray;
   
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
}
#ki{
    text-align: center;
   
}


.dropbtn {
    background-color:white;
    color:red;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    margin-right: 1000px;
    border-bottom-right-radius: 50px;
 
    
}

.dropdown-content{
   display: none;
    position: absolute;
    background-color:#f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover
{background-color: #ddd}
.dropdown:hover .dropdown-content
{display: block};
.dropdown:hover .dropbtn 
{background-color:white}
.tit{
    margin-top: -15px;
    
}