/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}

/* Left & Right alignment */
.left {
	float:left
}
.right {
	float:right
}
.wrapper {
	width:100%;
	overflow:hidden
}
/* Global properties */
body {
	background:#eee;
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#bababa;
	
}
.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative
}
/* Global Structure */
.main {
	margin:0 auto;
	width:960px
}
.body1 {
	background:url(../images/bg_top.gif) top repeat-x
}
.body2 {
	background:#2e2e2e
}
.body3 {
	background:#2e2e2e
}
.body4 {
	background:url(../images/bg_footer.gif) top repeat-x
}
/* main layout */
a {
	color:#bababa;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
h1 {
	margin-left:-7px;
	position:absolute;
	z-index:2;
	font-size:57px;
	height:95px;
	padding-left:191px;
	padding-top:28px
}
h2 {
	font-size:37px;
	color:#bababa;
	line-height:1.2em;
	padding:28px 0 27px 0;
	letter-spacing:-1px
}
h2.pad_bot1 {
	padding-bottom:17px
}
h2.pad_top1 {
	padding-top:18px
}
h3 {
	font-size:24px;
	color:#fff;
	line-height:1.2em;
	padding:42px 0 19px 0
}
h3.pad_top1 {
	padding-top:22px
}
h4 {
	font-size:27px;
	color:#fff;
	line-height:1.2em;
	padding:10px 0 23px 70px;
	letter-spacing:-1px
}
h4.img1 {
	background:url(../images/page1_img1.jpg) 0 0 no-repeat
}
h4.img2 {
	background:url(../images/page1_img2.jpg) 0 0 no-repeat
}
h4.img3 {
	background:url(../images/page1_img3.jpg) 0 0 no-repeat
}
p {
	padding-bottom:20px
}
/* header */
header {
	position:relative;
	
	background:#2e2e2e
}

#icons {
	float:right;
	padding:34px 29px 0 0
}
#icons li {
	float:left;
	padding-left:10px
}
#menu {
	padding:33px 0 0
}
#menu li {
	padding:26px 37px 23px 30px;
	float:left;
	background:url(../images/menu_line.gif) right 0 no-repeat
}


.call {
	float:right;
	font-size:32px;
	color:#87a310;
	line-height:1.2em;
	letter-spacing:-1px;
	padding-top:2px
}
.call span {
	font-size:31px;
	color:#191919
}
footer {
	height:1000px;
	color:#191919;
	padding:45px 30px 20px 30px;
	height:66px;
	font-size:13px
}
#ki{
	font-size:54px;
}
a{
	text-decoration: none;
}
.col45{
	max-width: 1000px;
      max-width: 1000px;
	
}
.tit{
	  margin-left: 150px;
}
.ti{
 color:#abd;
      
      border: 2px solid SILVER;
      border-top-left-radius: 50px;
      
      border-bottom-right-radius: 50px;
        
      width: 350px;
      height: 150px;
      
      
}
.bu{
	 margin-left: 5px;
}
#pass{
	padding-right: 5px;
	
}
#adm{
	margin-left: 100px;
}