<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>kiray</title>
<meta charset="utf-8">

<link rel="stylesheet" th:href="@{css/style.css}" />
<link rel="stylesheet" th:href="@{css/layout.css}" />
<link rel="stylesheet" th:href="@{css/reset.css}" />


</head>
<body id="page5">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
           <h1 id="ki">Kiray.com</h1>
      <div class="wrapper">
        <ul id="icons">
          <li><a href="#" class="normaltip"><img src="images/icon1.jpg" alt=""></a></li>
          <li><a href="#" class="normaltip"><img src="images/icon2.jpg" alt=""></a></li>
          <li><a href="#" class="normaltip"><img src="images/icon3.jpg" alt=""></a></li>
          
        </ul>
      </div>
      <nav>
        <ul id="menu">
               <li id="menu_active"><a th:href="@{/house}">Home Page</a></li>
          <li><a th:href="@{/login}" >Login page</a></li>
          <li><a th:href="@{/about}" >About us</a></li>
          
          
        </ul>
      </nav>
    </header>
    <!-- / header -->
  </div>
</div>
<!-- content -->
<div class="body2">
  <div class="main">
    <section id="content">
      <div class="wrapper">
        <article class="col1">
          <div class="pad2">
            <h2 class="pad_bot1 pad_top1"></h2>
            <div class="wrapper">
            <h2 class="pad_bot1">Our Address</h2>
              <figure class="left marg_right1"><img src="images/page5_img1.jpg" alt=""></figure>
              <p class="pad_bot1 color2"><b>Our company provide so many service with different house choices</b></p>
              
            </div>
            
            <a href="#" class="button">Read more</a> </div>
        </article>
        <article class="col2">
          
        </article>
      </div>
      <div class="wrapper">
        <article class="col1">
          <div class="pad2">
            <h2 class="pad_bot1">Our Address</h2>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="images/page5_img2.jpg" alt=""></figure>
              <section>
                
                <p><b>Addis Ababa,Ethiopia</b></p>
                <p><b>bole,MS building ,NO-241</b></p>
                <p><b>TEL PHONE NO- 0939563286</b></p>
           </section>
            </div>
           
            <a href="#" class="button">Read more</a> </div>
        </article>
        <article class="col2">
          <div class="pad1">
            <h3>Did You Know?</h3>
            <p><strong>we are the first company which provide online house rental system in ethiopia. </strong></p>
           
            <a href="#" class="button">Read more</a> </div>
        </article>
      </div>
    </section>
  </div>
</div>
<!-- / content -->
<div class="body4">
  <div class="main">
    <!-- footer -->
    <footer> <span class="call">Call Center: <span>+25144545454</span></span> Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
      Design by <a target="_blank" href="http://www.kiray.com/">kiray.com</a>
      <!-- {%FOOTER_LINK} -->
    </footer>
    <!-- / footer -->
  </div>
</div>
<script>Cufon.now();</script>
</body>
</html>
