<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to upload page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">
  <!-- Bootstrap Select-->
  <link rel="stylesheet" th:href="@{/vendor/bootstrap-select/css/bootstrap-select.min.css}">
  <!-- owl carousel-->
  <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.carousel.css}">
  <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.theme.default.css}">
  <!-- theme stylesheet-->
  <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/blog.css}" rel="stylesheet">

  <!-- Favicon and apple touch icons-->
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
  <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
  <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-touch-icon-57x57.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-touch-icon-76x76.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114.png}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-touch-icon-120x120.png}">
  <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144.png}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-touch-icon-152x152.png}">
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div id="all">
  <!-- Top bar-->
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end justify-content-between">
            <ul class="list-inline contact-info d-block d-md-none">
              <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top bar end-->
  <!-- Login Modal-->
  <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="login-modalLabel" class="modal-title">Customer Login</h4>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form action="customer-orders.html" method="get">
            <div class="form-group">
              <input id="email_modal" type="text" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
              <input id="password_modal" type="password" placeholder="password" class="form-control">
            </div>
            <p class="text-center">
              <button class="btn btn-template-outlined"><i class="fa fa-sign-in"></i> Log in</button>
            </p>
          </form>
          <p class="text-center text-muted">Not registered yet?</p>
          <p class="text-center text-muted"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Login modal end-->
  <!-- Navbar Start-->
  <header class="nav-holder make-sticky">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
      <div class="container"><a href="manage_post.html" class="navbar-brand home">Upload Rental House<span class="sr-only">Rental House</span></a>
        <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
        <div id="navigation" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown "><a href="house">Return To Home</b></a>
            </li>
             <li class="nav-item dropdown menu-large">
                      <form th:action="@{/logout}" th:method="POST">
                          <button class="btn btn-md btn-warning btn-inline" type="Submit">Logout</button>
                      </form>
                  </li>

          
            <!-- ========== FULL WIDTH MEGAMENU ==================-->

            <!-- ========== FULL WIDTH MEGAMENU END ==================-->
            <!-- ========== Contact dropdown ==================-->

            <!-- ========== Contact dropdown end ==================-->
          </ul>
        </div>
        <div id="search" class="collapse clearfix">
          <form role="search" class="navbar-form">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- Navbar End-->

  <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Add a story</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                
                <li class="breadcrumb-item active">Add a story</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div id="customer-account" class="col-lg-12 clearfix">
             
              <div class="box mt-5">
                <div class="heading">
                  <h3 class="text-uppercase">add a new story</h3>
                </div>
                <form th:action="@{/addPost}"  th:method="POST">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" >
                      </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                 
                 <div>
                 <input type="hidden" name="size" value="1000000">
                  <input type="file" name="picture_data" id="picture_data">
                 </div></div></div></div>
                  
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="contents">Content</label>
                        <textarea class="form-control" name="body" id="contents" cols="30" rows="10" ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-template-outlined"><i class="fa fa-save"></i> Post</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-3 mt-4 mt-lg-0">
              <!-- CUSTOMER MENU -->
              
            </div>
          </div>
        </div>
      </div>
      <!-- GET IT-->

  <div class="copyrights">

    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center-md">
            <p>&copy; 2018. News blog</p>
          </div>
        </div>
      </div>
    </footer>


  </div>
  <!-- </footer> -->
</div>
<!-- Javascript files-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper.js/umd/popper.min.js"> </script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="../static/vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
<script src="../static/vendor/jquery.counterup/jquery.counterup.min.js"> </script>
<script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../static/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
<script src="../static/js/jquery.parallax-1.1.3.js"></script>
<script src="../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../static/js/front.js"></script>
</body>
</html>