<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>kiray</title>
<!-- Bootstrap core CSS -->



</head>

<head>

<meta charset="utf-8">

<link rel="stylesheet" th:href="@{css/style.css}" />
<link rel="stylesheet" th:href="@{css/layout.css}" />
<link rel="stylesheet" th:href="@{css/reset.css}" />


</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
     <h1 id="ki">Kiray.com</h1>
      <div class="wrapper">
        <ul id="icons">
          <li><a href="http://www.facebook.com" class="normaltip"><img src="images/icon1.jpg" alt=""></a></li>
          <li><a href="http://www.twetter.com" class="normaltip"><img src="images/icon2.jpg" alt=""></a></li>
          <li><a href="http://www.linkedin.com" class="normaltip"><img src="images/icon3.jpg" alt=""></a></li>
       
        </ul>
      </div>
      <nav>
          <ul id="menu">
          <li id="menu_active"><a th:href="@{/house}">Home Page</a></li>
          <li><a th:href="@{/login}" >Login page</a></li>
          <li><a th:href="@{/about}" >About us</a></li>
        
          
        </ul>
	</nav>
               
          
          
       
      </nav>
    </header>
    <!-- / header -->
  </div>
</div>
<!-- content -->
<div class="body2">
  <div class="main">
    <section id="content">
      <!-- <form action="#" th:action="@{/house/search}" th:method="POST">
        <input type="number" name="greater">
        <input type="number" name="less">
        <button type="submit">Search</button>
      </form> -->
      <div class="wrapper">
        <article class="col45">
          <div class="sli"> <img src="images/img1.jpg"></div> 
        </article>
        
        
      </div>
      <div class="wrapper">
        <article class="col1">
          <div class="pad_left1">
            <h2 class="pad_bot1">Buyers. Sellers. Proprietors. Agents.</h2>
            <div class="wrapper">
              <article class="cols">
                
                <h4 class="img2">Investing</h4>
                <p class="pad_bot1"><strong class="color1">Free website <br>
                 Renting house</strong></p>
                <p class="pad_bot2"> goes with PSD source files and without them.</p>
                <a href="#" class="button">Read more</a> </article>
              <article class="cols pad_left1">
                <h4 class="img3">Renting</h4>
                
                <p class="pad_bot2"> <a href="index.html" class="color2">Main</a>, <a href="buying.html" class="color2">Buying</a>, <a href="selling.html" class="color2">Selling</a>, <a href="renting.html" class="color2">Renting</a>, <a href="finance.html" class="color2">Finance</a>, <a href="contacts.html" class="color2">Contacts</a> (note that contact us form – doesn’t work).</p>
                <a href="#" class="button">Read more</a> </article>
            </div>
          </div>
        </article>
        <article class="col2">
          <div class="pad1">
            <h3>Special Offers</h3>
            <ul class="list1">
              <li><a href="#">Home Loan Offer</a></li>
              <li><a href="#">Free Calculators</a></li>
              <li><a href="#">Free Loan Tools</a></li>
              <li><a href="#">Value Your Home</a></li>
              <li><a href="#">Recently Sold Properties</a></li>
              <li><a href="#">Suburb Statistics</a></li>
              <li><a href="#">Compare Property Prices</a></li>
            </ul>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
<div class="body3">
  <div class="main">
    <section id="content2">
      <div class="wrapper">
        <article class="col1">
          <div class="pad2">
            <h2>Remodeling Rooms</h2>
            <div class="wrapper pad_bot3" th:each="house : ${houses}">
              <figure class="left marg_right1"><img width="500" height="300" th:src="${house.photo}" alt=""><br/><br/></figure><br/>
              <p class="pad_bot1"><strong class="color2" th:text="${house.detail}">.<br>
                </strong> <br/>Price: <span class="color1" th:text="${house.price}"></span></p><br/>
              Location:<p class="pad_bot2 " th:text="${house.location}"> </p><br/>
              Owner:<p  class="pad_bot2" th:text="${house.lesser.username}"> </p>
              

          </div>
        </article>
        
        <article class="col2">
          <div class="pad1">
            <h3>Recent News</h3>
            <div class="wrapper"> <span class="date"><strong>1</strong><span>may</span></span>
              <p><a href="#" class="color2">G+2</a><br>
                new with car parking and swimming pool... <a href="#">more</a></p>
            </div>
            <div class="wrapper"> <span class="date"><strong>2</strong><span>may</span></span>
              <p><a href="#" class="color2">villa</a><br>
               new with car parking and swimming pool... <a href="#">more</a></p>
            </div>
            <div class="wrapper"> <span class="date"><strong>2</strong><span>may</span></span>
              <p><a href="#" class="color2">G+3</a><br>
                new with car parking and swimming pool... <a href="#">more</a></p>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
<!-- / content -->
<div class="body4">

  <div class="main">
    <!-- footer -->
    <footer> <span class="call">Call Center: <span>+2519545654</span></span> Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
      Design by <a target="_blank" href="http://www.templatemonster.com/">kiray.com</a>
      <!-- {%FOOTER_LINK} -->
    </footer>
    <!-- / footer -->
  </div>
</div>
</body>
</html>


</html>