<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{css/style.css}" />
<link rel="stylesheet" th:href="@{css/layout.css}" />
<link rel="stylesheet" th:href="@{css/reset.css}" />
</head>

<body>
 <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h1>Login to the site</h1>
  </a>
   <ul id="menu">
               <li id="menu_active"><a th:href="@{/house}">Home Page</a></li>
          <li><a th:href="@{/login}" >Upload posts</a></li>
          <li><a th:href="@{/manager}" >Manage Users</a></li>
          <li><a th:href="@{/about}" >About us</a></li>
          
          
          
        </ul>
  <form  class="form-inline my-2 my-lg-0" th:action="@{/registration}" th:method="GET">
		<button class="btn btn-md btn-warning btn-block" type="submit">Go To Registration Page</button>
	</form>	
	
</nav>
<div class="container">
	
			<form th:action="@{/login}" th:method="POST" class="form-signin">
			<br/>
			 <div class="form-group">
			 <label for="username">User Name</label>
			<input type="text" id="username" name="username"  th:placeholder="UserName"
				class="form-control" /> 
			</div>
			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					th:placeholder="Password" id="password" name="password"
					class="form-control" />
			</div>

			<div class="text-danger" align="center" th:if="${param.error}">
				<p>Username or Password invalid, please verify</p>
			</div>
			<div class="form-group">
			<button class="btn btn-primary btn-block" name="submit" value="Login" type="submit" th:text="Login"></button>
		</div>
		</form>
		<hr />
		&copy; 2018 kiray
	</div>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
</body>
</html>