<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Kiray</title>
    <meta charset="utf-8">

<link rel="stylesheet" th:href="@{css/admin.css}" />
    </head>
    <meta name-="viewport" content="width=device-width,intitial-scale=1">
    
    <body class="mac">

    <header id="new">
        <div class="dropdown">
            <button class="dropbtn">MENU</button>
            <div class="dropdown-content">
                <a href="house">Home</a>
                <a href="logout">Logout</a>
            </div>
        </div>
        <div class="tit">

            <h1 style="color:black">Modern House Rental <br/>System</h1>

        </div>

    </header>

    <u> <h1 id="ki">Admin panel</h1></u>
 <li class="nav-item dropdown menu-large"><a th:href="@{/admin}" >View Members </a>
    <div class="container">
        <table class="table table-hover table-responsive table-bordered">
            <thead>
            <tr>
            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">User Name</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody th:each="user : ${users}">
            <tr>
                <th scope="row" th:text="${user.id}">1</th>
                <td th:text="${user.firstName}">Mark</td>
                <td th:utext="${#strings.abbreviate(user.lastName,450)}">Otto</td>
                <td th:text="${user.username}">@mdo</td>
                <td ><a th:href="@{'/deleteUser/' + ${user.id}}" >Delete</a></td>
              
            </tr>

            </tbody>
        </table>
    </div>

    </body>

    
    
    
    
    
    
    
    
    
 
        
    
    
    </html>