<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>kiray</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<h1>Upload Your House Information Here!</h1>
		</a>
		<form th:action="@{/logout}" th:method="POST">
		<button id="menu_active"><a th:href="@{/house}">Return Home Page</a></button>
			<button class="btn btn-md btn-warning btn-block" type="Submit">Logout</button>
		</form>
	</nav>
	<div class="container">
		<form th:method="POST" th:action="@{/addHouse}" th:object="${house}" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="title">Detail</label>
						<span th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" >error</span>
						<input type="text" name="title" id="title" th:field="*{detail}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="title">Price</label>
						<span th:if="${#fields.hasErrors('price')}" th:errors="*{pirce}" >error</span>
						<input type="text" name="title" id="title" th:field="*{price}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="title">Location</label>
						<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" >error</span>
						<input type="text" name="title" id="title" th:field="*{location}">
					</div>
				</div>
			</div>
				<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<input type="file" class="form-control-file border" name="file">
						
					</div>
				</div>
			</div>


			<div class="text-center">
				<button type="submit" class="btn btn-template-outlined"><i class="fa fa-save"></i> Post</button>
			</div>

		</form>
		
		<hr />
		<div class="wrapper pad_bot3" th:each="house : ${houses}">
              <figure class="left marg_right1"><img width="500" height="300" th:src="${house.photo}" alt=""><br/><br/></figure><br/>
              <p class="pad_bot1"><strong class="color2" th:text="${house.detail}">.<br>
                </strong> <br/>Price: <span class="color1" th:text="${house.price}"></span></p><br/>
              Location:<p class="pad_bot2 " th:text="${house.location}"> </p><br/>
              Owner:<p  class="pad_bot2" th:text="${house.lesser.username}"> </p>
              <a th:href="@{'/delete/' + ${house.id}}" class="btn btn-template-outlined"><i class="fa fa-save"></i> Delete</a>
		
	</div>
	&copy;
	2018 kiray.com
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:href="@{/js/jquery-3.3.1.slim.min.js}"
		src="../js/jquery-3.3.1.slim.min.js"></script>
	<script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
	<script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
</body>
</html>