<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>kiray</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <h1>Welcome to kiray!</h1>
    </a>
    <form th:action="@{/login}" th:method="GET">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go
            To Login Page</button>
    </form>
</nav>
<div class="container">
    <table class="table table-hover table-responsive table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Date Created</th>
            <th scope="col">&nbsp;</th>

        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <th scope="row" th:text="${user.id}">1</th>
            <td th:text="${user.firstName}">Mark</td>
            <td th:utext="${#strings.abbreviate(user.lastName,450)}">Otto</td>
            <td th:text="${user.username}">@mdo</td>
            <td ><a th:href="@{'/deleteUser/' + ${user.id}}" >Delete</a></td>

        </tr>

        </tbody>
    </table>
</div>
<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../static/js/jquery-3.3.1.slim.min.js"></script>
<script th:href="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<script th:href="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script th:href="@{/js/holder.min.js}" src="../static/js/holder.min.js"></script>
</body>
</html>