<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>kiray</title>
<meta charset="utf-8">

</head>
<body>
<div th:if="${msg}">
<span th:text ="${msg}"></span>
</div>
<span><a href="/access_pass">upload more</a></span>
</body>
</html>